body {
    background-color: rgb(47, 150, 175);
}

.label {
    position: absolute;
    width: 90px;
    height: 36px;
}

input {
    transform: scale(0);
} 

.background {
    position: absolute;
    /* left: 0; */
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: #c6c8d6;
    transition: background 0.4s;
}

.knob {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #f7f7f7;
    transition: transform 0.4s;
}

input:checked 
    + .background {
        background: #282835;
}

input:checked 
    + .background .knob {
        transform:
            translateX(52px);
}